.container
	.row
		.col-md-12
			=simple_form_for @url, wrapper: :inline_form, html: { class: 'form-inline' }, remote: true do |f|
				=f.input :original_url, placeholder: "Enter the URL to be shortened", label: false
				=f.button :submit, "Convert",  class: 'btn btn-primary'
	%br
.container
	.row
		.col-md-12
			#converted_url


